.heading
{
  font-size: 23px;
  margin: 0px;
  box-shadow:5px 5px 5px blue;
}
.note
{
  font-size: 15px;
  color: black;
}

canvas 
{
  border:5px solid white;
  border-radius:20px;
  box-shadow:10px 10px 10px blue;

}
